/*.sh
*.tar.gz
Kyuafile
copy-modloop
lbu
setup-ads
setup-sentinelos
setup-sentinelos-web
setup-apkcache
setup-apkrepos
setup-bootable
setup-cryptswap
setup-devd
setup-disk
setup-dns
setup-hostname
setup-interfaces
setup-keymap
setup-lbu
setup-mta
setup-ntp
setup-proxy
setup-sshd
setup-timezone
setup-user
setup-xen-dom0
uniso
update-conf
update-kernel
